
/*body {
    display: flex;
    width: 1920px;
    height: 1080px;
    background-color: aquamarine;
    .test-css {
        color: white;
        font-size: $h1DekstopFontSize;
        //font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-family: 'Comfortaa-light';
        align-self: center;
        flex-basis: 320px;
        height: 640px;
        background-color: blueviolet;
        background-image: url('../img/591176ad4a7ae.jpg');
    }
}*/

body {
    width: 100%;
    height: 800px;
    margin: 0px;
    padding: 0px;
    font-family: $regularFont;
}

.test {
    margin: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background: linear-gradient(to bottom, rgb(109, 94, 245), rgb(148, 7, 117), rgb(0, 0, 0));
}

.test__header {
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(4, 2, 20, 0.3);
    .test__title {
        font-size: $h1DekstopFontSize;
        color: white;
        flex-basis: 300px;
        text-align: center;
    }
}

.test__main {
    width: 100%;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
    box-sizing: border-box;
    .test__column {
        padding: 20px;
        box-sizing: content-box;
        background-color: rgba(4, 2, 20, 0.3);
        min-height: 400px;
        border-radius: 20px;
        flex-basis: 600px;
        text-align: center;
        color: white;
        font-size: $h1PhoneFontSize;
    }
}

.test__footer {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: rgba(4, 2, 20, 0.3);
    .test__logo{
        padding-left: 100px;
        flex-basis: 200px;
        text-align: left;
        color: white;
        font-size: $h1PhoneFontSize;
        font-family: $logoFont;
    }
}